<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://ifyou-cms.oss-cn-beijing.aliyuncs.com/test/MaterialLibrary/1563/156341f72077172b4ac041f2b2f68dc4-34758/999.jpeg?Expires=1652783779&amp;OSSAccessKeyId=LTAI5t9g1bBwKSXvcDwBXy2E&amp;Signature=qVBCEDs%2FhTRLIKmntx3syqjo0Fk%3D</string>
	<string>http://ifyou-cms.oss-cn-beijing.aliyuncs.com/test/MaterialLibrary/a1bd/a1bd23302e97c31fd0cf45c43dc01920-16044/7979.png?Expires=1652783779&amp;OSSAccessKeyId=LTAI5t9g1bBwKSXvcDwBXy2E&amp;Signature=VHvYhk6JAy9BEv%2BbZXiKQfGnmNI%3D</string>
	<string>http://ifyou-cms.oss-cn-beijing.aliyuncs.com/test/MaterialLibrary/1563/156341f72077172b4ac041f2b2f68dc4-34758/999.jpeg?Expires=1652783779&amp;OSSAccessKeyId=LTAI5t9g1bBwKSXvcDwBXy2E&amp;Signature=qVBCEDs%2FhTRLIKmntx3syqjo0Fk%3D</string>
	<string>http://ifyou-cms.oss-cn-beijing.aliyuncs.com/test/MaterialLibrary/371e/371e2a66dbc8a60029199f9b64b6c0e1-624568/009EG.png?Expires=1652783779&amp;OSSAccessKeyId=LTAI5t9g1bBwKSXvcDwBXy2E&amp;Signature=8p4SG80o0HAQuoRX4OLcLTc32nE%3D</string>
	<string>http://ifyou-cms.oss-cn-beijing.aliyuncs.com/test/MaterialLibrary/4527/4527c4531c7ed6549feef9f10fb066d1-97573/3333333333333.jpg?Expires=1652783779&amp;OSSAccessKeyId=LTAI5t9g1bBwKSXvcDwBXy2E&amp;Signature=uE3%2BaiC9yGnt0LeMMDyocsMAX0Q%3D</string>
</array>
</plist>
